:root {
    --transition-time: 0.4s;
    --font-family:Roboto-Regular,sans-serif;
    --background-color:#102238;
    --background-second-color:#224878;
    --background-third-color:#3167aa;
    --border-main:2px solid #506185;
    --font-color:#eee;
    --font-second-color:#b2b9b9;
    --slider-color:rgb(142, 201, 221);
    --slider-hover-color:rgb(142, 183, 221);

    --card-height:200px;
    --card-width:300px;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html {
    width:calc(100vw - 5px);
    height:100vh;
    background-color:var(--background-color);
    color:#fff;
    font-family:var(--font-family);
    transition:var(--transition-time);
    scroll-behavior: smooth;
}
body {
    overflow-x:hidden;
}
a {
    color:var(--font-color);
    text-decoration: none;
}
.sp-ch {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", -webkit-pictograph;
}
.outline {
    filter: 
    drop-shadow(-2px -2px 0px #fff) 
    drop-shadow(2px -2px 0px #fff) 
    drop-shadow(2px 2px 0px #fff)
    drop-shadow(-2px 2px 0px #fff)
}

body {
    background:var(--background-color);
    color:var(--font-color);
    overflow-y:scroll;
}
header {
    width:100%;
    background-color:var(--background-second-color);
}
header nav {
    display:flex;
    justify-content: flex-end;
    align-items:center;
    max-width:1000px;
    height:60px;
    margin:0 auto;
}
header nav ul {
    display:flex;
    height:60px;
    align-items:center;
    position: relative;
}
header nav ul li {
    list-style: none;
    height:100%;
    display:flex;
    align-items: center;
    position:relative;
}
header nav ul li a {
    display:flex;
    color:var(--font-second-color);
    font-family: MuseoModerno,sans-serif;
    text-transform: lowercase;
    white-space: nowrap;
    opacity: 1;
    height:100%;
    align-items: center;
    padding:0 15px;
    transition:color var(--transition-time) ease, opacity var(--transition-time) ease;
    font-size:1rem;
}
header nav ul li a:hover {
    opacity:1;
    color:var(--font-color);
}
main {
    background:var(--background-second-color);
    border:var(--border-main);
    border-radius:5px;
    max-width:1000px;
    margin:30px auto;
    padding:15px;
    min-height:calc(100vh - 430px);
    display:flex;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%), 0 3px 5px rgb(0 0 0 / 10%);
}
main aside {
    min-width:300px;
    height:fit-content;
    margin-right:30px;
}
main aside .photo {
    border-radius:5px;
    display:block;
    width:200px;
    height:200px;
    margin:0 auto 15px;
    overflow:hidden;
}
main aside .photo img {
    width:200px;
    height:auto;
    border-radius:5px;
    transform:scale(1.2) translate(0, 20px);
}
main aside h1 {
    font-size:2rem;
    text-align: center;
}
main aside h2 {
    font-size:1rem;
    color:var(--font-second-color);
    text-align: center;
}
main aside .align {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
main aside a {
    padding:5px 15px;
    border-radius:100px;
    border:2px solid var(--font-second-color);
    white-space: nowrap;
    font-size:1.2rem;
    transition:var(--transition-time);
}
main aside a:hover {
    color:var(--background-second-color);
    background:var(--font-color);
}
main aside>p {
    margin-top: 10px;
    max-width: 300px;
    text-align: center;
    font-size: 12px;
}
main article {
    width:100%;
}

/* Projects */
/* Banner */
article section.project {
    max-width:636px;
    margin-bottom:50px;
    border-radius:5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%), 0 3px 5px rgb(0 0 0 / 10%);
    background-color:var(--background-third-color);
    position:relative;
}
article section.project .project-banner {
    overflow: hidden;
    height:125px;
    border-radius:5px 5px 0 0;
}
article section.project .project-banner img:first-child {
    max-width:100%;
    position:relative;
}
article section.project .project-banner p {
    position: absolute;
    top:40px;
    left:35px;
    font-size:25px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
article section.project .project-info {
    display:flex;
    flex-direction: row;
}
article section.project .project-info img:first-child {
    position:absolute;
    height:75px;
    top:85px;
    left:10px;
    border:4px solid var(--background-third-color);
    border-radius:50px;
    padding:5px;
    background-color:#ebeced;
}
article section.project .project-info p.description {
    margin: 50px 20px 20px 20px;
}
article section.project .project-info a.goto {
    background-color: #233142;
    height:auto;
    min-width:100px;
    border-radius: 0 0 5px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    --var-color-1:var(--font-second-color);
    color:var(--var-color-1);
}
article section.project .project-info a.goto:hover {
    --var-color-1:var(--font-color);
    color:var(--var-color-1);
}
article section.project .project-info a.goto p {
    display:flex;
    justify-content: center;
    align-items: center;
    width:60px;
    height:60px;
    border:2px solid var(--var-color-1);
    border-radius:50px;
    transition: var(--transition-time);
}
#project-1 {
    top:-50px;
}
/* End Banner */

/* End Projects */

.input-skills-group {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.input-skills-group input.input-skills,
.input-skills-group input.input-skills ~ output {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
  pointer-events:none;
}
.input-skills-group input.input-skills ~ output {
  background: var(--slider-color);
  padding: 5px 16px;
  border-radius: 3px;
  color: #fff;
}
.input-skills-group input[type="range"].input-skills {
  -webkit-appearance: none;
  margin: 0 5px;
  width: 150px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--slider-color), var(--slider-color));
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
/* Input Thumb */
.input-skills-group input[type="range"].input-skills::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
.input-skills-group input[type="range"].input-skills::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
.input-skills-group input[type="range"].input-skills::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--slider-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
.input-skills-group input[type="range"].input-skills::-webkit-slider-thumb:hover {
  background: var(--slider-hover-color);
}
.input-skills-group input[type="range"].input-skills::-moz-range-thumb:hover {
  background: var(--slider-hover-color);
}
.input-skills-group input[type="range"].input-skills::-ms-thumb:hover {
  background: var(--slider-hover-color);
}
/* Input Track */
.input-skills-group input[type=range].input-skills::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.input-skills-group input[type=range].input-skills::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
.input-skills-group input[type="range"].input-skills::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}




/************************* Animations *************************/
@keyframes FadeOut {
    from {opacity:1;}
    to {opacity:0;}
}
.fade-out {
    animation-name:FadeOut;
    animation-duration:0.4s;
    animation-fill-mode: forwards;
}

@keyframes FadeIn {
    from {opacity:0;}
    to {opacity:1;}
}
.fade-in {
    animation-name:FadeIn;
    animation-duration:0.4s;
    animation-fill-mode: forwards;
}




